

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

 @import url('https://fonts.googleapis.com/css2? family= Afaca & display=swap');

body{
    background-color: blue;
}

h1, h2, h3{
    font-family: Roboto;
}

p{
    font-family: Afaca;
}

div{
    width: auto;
}

